[submodule "Portfolio/Storehouse"]
	path = Portfolio/StorehouseSimple
	url = https://github.com/reric88/StorehouseSimple.git
[submodule "Portfolio/RealEstate"]
	path = Portfolio/RealEstate
	url = https://github.com/reric88/SheilaWithExit.git
